<!DOCTYPE html>
<html>
  
  <head>
    <link href="https://fonts.googleapis.com/css?family=Monda|Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="images/favicon.ico">     
    <title>Videos & Such</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>
  
  <body>
    <div id="app">

    <header>
      <div id="header_wrap">
        <div id="header_logo"> 
          <h1>VideoPLUS <i class="fas fa-tv"></i></h1>
        </div>
        <nav onload="window.innerWidth < 500 ? mobileMenuShowing = false : mobileMenuShowing = true" v-show="mobileMenuShowing" id="nav">
          <div class="nav_item" id="fav_drop_cont">
            <a v-on:click.prevent="showFavs" 
                id="fav_popup_btn" 
                href="#">
                Favorites
            </a>
            <div id="nav_drop_cont" class="nav_drop_cont_hide">
                <div class="nav_drop" id="nav_drop_fav">
                  <p v-on:click="filterGenre('Scary')">Scary</p>
                  <p v-on:click="filterGenre('Funny')">Funny</p>
                  <p v-on:click="filterGenre('Animated')">Animated</p>
                  <p v-on:click="filterGenre('Tearjerker')">Tearjerker</p>
                  <p v-on:click="filterGenre('Kids Stuff')">Kids Stuff</p>
                  <p v-on:click="filterGenre('Dark & Twisted')">Dark &amp; Twisted</p>
                  <p v-on:click="filterGenre('Teen Drama')">Teen Drama</p>
                  <p v-on:click="filterGenre('Soap Operas')">Soap Operas</p>
                  <p v-on:click="filterGenre('Fantasy')">Fantasy</p>
                  <p v-on:click="filterGenre('Action')">Action</p>
                  <p v-on:click="filterGenre('Adventure')">Adventure</p>
                  <p v-on:click="filterGenre('Robots')">Robots</p>
                </div> 
              </div>
          </div>
          <a v-on:click.prevent class="nav_item" href="#">Staff Picks</a>
          <a v-on:click.prevent class="nav_item" href="#">Contact</a>
          <a v-on:click.prevent class="nav_item" href="#">Account</a>
        </nav>
        <i v-if="!mobileMenuShowing"
            v-on:click="toggleMobileMenu" 
            class="fas fa-bars" 
            id="menu_bars">
        </i>
        <i v-else
            v-on:click="toggleMobileMenu" 
            class="fas fa-times"
            id="menu_x">
        </i>
      </div>
    </header>

    <main id="main">

      <div id="top_movies">
        <h2 class="top_movies_heading">Most Popular</h2>
        <div id="top_movies_inner">
          <img src="images/PH_800x500.jpg" alt="placeholder image" id="top_movie_1"> 
          <div id="top_movies_addtl">
            <img src="images/PH_200x125.jpg" alt="placeholder image" class="top_movie_side"> 
            <img src="images/PH_200x125.jpg" alt="placeholder image" class="top_movie_side"> 
            <img src="images/PH_200x125.jpg" alt="placeholder image" class="top_movie_side"> 
            <img src="images/PH_200x125.jpg" alt="placeholder image" class="top_movie_side">
          </div>
        </div>
      </div>

      <div v-cloak 
            v-for="(line, index) in movieLines" 
            class="movie_line">
        <div class="movie_line_topper">
          <i v-on:click="decrementIndex(index)" class="nav_arrow fas fa-chevron-circle-left"></i>
          <h1 class="movie_line_tag">{{ line.lineTitle }}</h1>
          <i v-on:click="incrementIndex(index)" class="nav_arrow fas fa-chevron-circle-right"></i>
        </div>

        <div v-bind:style="{backgroundPosition: setScrollPct(index) + '% 0%'}" class="scroll_bar"></div>

        <div v-bind:style="{transform: 'rotateY(' + setAngle(index) + 'deg)'}" class="carousel">
          <div v-for="(carousel, cIndex) in line.movieCarouselFaces" class="carousel_face">
            <div class="movie_line_imgs">
              <div v-for="(movie, movIndex) in carousel" class="movie_line_trans_cont">
                <div class="movie_line_img_cont">
                  <img :src="movie.imgSrc" alt="placeholder image">
                  <h3 class="movie_line_title">{{ movie.title }}</h3>
                  <div class="description_cont">
                    <p class="movie_line_description">{{ movie.description }}</p>
                    <div class="add_remove_cont">
                      <button class="add_remove_btn"
                              v-if="favs.filter(function(movieObj) {return movieObj.title === movie.title}).length === 0" 
                              v-on:click="addFav(movie.title, movie.tags)">
                        <i class="fas fa-plus"></i> 
                        Add to Favs
                      </button>
                      <button class="add_remove_btn"
                              v-else
                              v-on:click="removeFav(movie.title)">
                        <i class="fas fa-minus"></i> 
                        Remove from Favs
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-cloak
           v-show="popupShowing" 
           id="fav_popup">
        <i  v-on:click="hideFavs" 
            id="popup_x_out" 
            class="fas fa-times">
        </i>
        <div id="fav_popup_inner">
          <h1><span v-show="favTagClicked">{{ clickedTag }} </span>Favorites</h1>
          <h3 v-show="favs.length == 0 && !favTagClicked">You have no movies added to your favorites. Click the button below a movie's description to add it!</h3>
          <h3 v-show="favTagClicked && clickedFavMovieArray[0].length === 0">You have no {{ clickedTag }} movies in your favorites. Click the button below a movie's description to add it!</h3>
          <div id="fav_movie_cont">
            <h4 v-for="fav in favs"
                v-show="!favTagClicked" 
                class="fav_movie">
              {{ fav.title }}
              <i class="fas fa-play-circle" 
                title="play">
              </i>
              <i v-on:click="removeFav(fav.title)"
                class="fas fa-minus-circle"
                title="remove from favorites">
              </i>
            </h4>
            <h4 v-for="filteredFav in clickedFavMovieArray[0]"
                v-show="clickedFavMovieArray[0].length > 0" 
                class="fav_movie">
              {{ filteredFav.title }}
              <i class="fas fa-play-circle" 
                title="play">
              </i>
            </h4>
          </div>
        </div>
      </div>

    </main>
    
    <footer>
      <div id="footer_wrapper">
        <div id="footer_column_1">
          <h3><a href='#'>FAQ</a></h3>
          <h3><a href='#'>About</a></h3>
          <h3><a href='#'>Careers</a></h3>
          <h3><a href='#'>Terms of Use</a></h3>
          <h3><a href='#'>Privacy Policy</a></h3>
        </div>
        <div id="footer_column_2">
          <div id="_footer_contact_info">
            <h3>Contact</h3>
            <p>Phone: (555) 555-5555</p>
            <p>Tech Questions: <a href="#">it@videoplus.com</a></p>
            <p>Account Questions: <a href="#">accounts@videoplus.com</a></p>
          </div>
          <div id="footer_contact_address">
            <p>Address:</p>
            <p>VideoPLUS Workspace</p>
            <p> 123 Tech Center Street</p>
            <p>Silicon Valley, CA 20000</p>
          </div>
        </div>
      </div>
    </footer>

    </div>

  <!-- development version -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- production version -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <script src="scripts/app.js"></script>
  </body>

</html>