body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 211), white 125%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Monda', cursive;
    }

    p, li {
        font-family: 'Monda', sans-serif;
    }
}


