#fav_popup {
    background: rgb(50, 50, 50);
    border: 4px solid lightgrey;
    border-radius: 40px;
    color: white;
    height: 92vh;
    width: 95vw;
    position: fixed;
    top: 4vh;
    left: 2vw;
    z-index: 1000;
    box-shadow: 0 0 30px 2vw darkgrey;
    // display: none;

    #popup_x_out {
        position: absolute;
        top: 3%;
        right: 2%;
        color: lightgrey;
        font-size: 1.4em;

        &:hover {
            transform: scale(1.24);
            cursor: pointer;
            color: white;
        }
    }

    #fav_movie_cont {
        width: 86%;
        margin: 40px auto;
        
        h4 {
            padding: 6px;
            margin: 8px 10px;
            border: solid 1px white;
            border-radius: 4px;
            display: inline-block;
        }

        .fa-play-circle,
        .fa-minus-circle {
            margin: 2px 4px;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    h1, 
    h3 {
        text-align: center;
    }

    h3 {
        margin-top: 14%;
    }
}