
footer {
    position: relative;
    bottom: 0;
    background-image: linear-gradient(182deg, white -10%, rgb(185, 185, 185));
    max-width: 100vw;
    margin-top: 140px;
    padding: 20px;
    border-top: 2px solid black;
    z-index: 100;

    @media (max-width: $mq-md) {
        margin-top: 220px;
    }

    @media (max-width: $mq-xs) {
        margin-top: 160px;
    }

    #footer_wrapper {
        @include wrapper;
        display: flex;
        justify-content: space-around;
    }

    #footer_column_2 {
        align-self: center;
        h3, p {
            margin: 5px;
        }

        @media (max-width: $mq-xs) {
            width: 55%;
        }
    }
}