.movie_line {
    margin: 125px auto 0;
    height: 320px;
    max-width: 97%;

    &:hover .movie_line_tag {
        text-shadow: white 2px -2px 5px;
    }

    @media (max-width: $mq-md) {
        height: 520px;
    }

    @media (max-width: $mq-sm) {
        height: 1210px;
    }

    @media (max-width: $mq-xs) {
        height: 1380px;
    }

    @media (max-width: $mq-xxs) {
        height: 1180px;
    }

    .movie_line_topper {
        display: flex;
        justify-content: space-between;

        i {
            font-size: 2em;
            color: white;
            transition: .05s all ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                color: rgb(200, 255, 212);
            }
        }
    }

    .scroll_bar {
        height: 4px;
        width: 100%;
        background-color: white;
        margin-bottom: 14px;
        background-image: linear-gradient(to left, 
                                            transparent, 
                                            transparent 50%, 
                                            $m-line-dark 50%, 
                                            $m-line-dark);
        background-repeat: no-repeat;
        background-size: 200% 100%;
        background-position: 100% 0%;
        transition: $c-tran;
    }

    .movie_line_tag {
        @include wrapper;
        margin: 0 0 20px 40px;
        font-size: 1.7em;
        line-height: .9em;
    }

    .movie_line_imgs { 
        display: flex;

        @media (max-width: $mq-md) {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .movie_line_trans_cont {
            width: 25%;
            perspective: 900px;
            z-index: 1;

            @media (max-width: $mq-md) {
                width: 300px;
                margin-bottom: 60px;
            }

            @media (max-width: $mq-xs) {
                width: 83vw;
            }

            &:hover {
                z-index: 10;

                .add_remove_cont {
                    cursor: pointer;
                }
            }

            .movie_line_img_cont {
                transition: transform .2s ease-in;
                transform-origin: bottom left;
                position: relative;
                z-index: 0;
                margin: 0px;
                display: block;
        
                img {
                    width: 100%;
                    z-index: 0;
                }

                .description_cont {
                    max-width: 97%;
                    text-align: center;
                    margin-top: 5px;
                    display: none;
                    font-size: .9em;
                }

                .add_remove_cont {
                    position: absolute;
                    bottom: 2%;
                    right: 5%;
                }

        
                .movie_line_title {
                    text-align: center;
                    margin: 4px auto;
                    font-size: 1.15em;
                    color: black;
                }
        
                &:hover {
                    background-color: $m-line-dark;
                    border: 2px solid black;
                    z-index: 100;
                    transform: translateZ(75px);

                    @media(max-width: $mq-md) {
                        transform: translateZ(45px);
                    }
        
                    .description_cont {
                        display: block;
                        color: white;
                        line-height: 1.15em;
                    }
        
                    .movie_line_title {
                        color: white;
                    }
                }

                @media (max-width: $mq-xs) {
                    // background-color: $m-line-dark;
                    // border: 2px solid black;
                    z-index: 100;
                    transform: translateZ(75px);
        
                    .movie_line_description {
                        display: block;
                        color: white;
                        line-height: 1.15em;
                    }
        
                    // .movie_line_title {
                    //     color: white;
                    // }
                }
            }
        }
    }

    .carousel {
        position: relative;
        transform-style: preserve-3d;
        height: 100%;
        transition: $c-tran;

        .carousel_face {
            position: absolute;
            width: $c_face_w;
            backface-visibility: hidden;
        }

        .carousel_face:nth-child(1) { 
            @include c_face_tran(0deg);
        }
        .carousel_face:nth-child(2) { 
            @include c_face_tran(60deg);
        }        
        .carousel_face:nth-child(3) { 
            @include c_face_tran(120deg);
        }        
        .carousel_face:nth-child(4) { 
            @include c_face_tran(180deg);
        }        
        .carousel_face:nth-child(5) { 
            @include c_face_tran(240deg);
        }        
        .carousel_face:nth-child(6) { 
            @include c_face_tran(300deg);
        }
    }
}

#fav_popup_btn {
    margin: 80px 20px 0;
}