// Media Queries ++++++++++++++++++++++++++

$mq-xl: 1175px;
$mq-lg: 980px;
$mq-md: 820px;
$mq-sm: 640px;
$mq-xs: 400px;

// Colors ++++++++++++++++++++++++++++++++

$m-line-dark: rgb(14, 0, 120);

// Carousel +++++++++++++++++++++++++++++++

$c_face_w: 96vw;
$c-tran: all .8s ease-in-out;
