// Media Queries ++++++++++++++++++++++++++

$mq-xl: 1175px;
$mq-lg: 980px;
$mq-md: 820px;
$mq-sm: 640px;
$mq-xs: 400px;

// Carousel +++++++++++++++++++++++++++++++

$c_face_w: 96vw;
// $c_face_m: calc((100vw - $c_face_w) / 2);
// $c_face_a: calc(($c_face_w / 2) * 1.73205);
